html {
    font-size: 20px;
    line-height: 1.2;
    font-family: Helvetica, sans-serif;
    padding-bottom: 700px;
}

img {
    display: block;
    margin: auto;
}

h1 {
    text-align: center;
}

p {
    text-indent: 2.5rem;
    font-size: 1rem;
}

h1 {
    margin-top: 50px;
}

body {
    width: 60vw;
    margin: auto;
    margin-top: 65px;
    background-color: #eee;
}

nav {
    width: 100vw;
    height: 50px;

    position: fixed;
    top: -5px;
    left: 0;

    display: flex;
    justify-content: center;

    background-color: #3066be;
}

.nav-item {
    display: inline-block;
    margin-right: 40px;

    font-size: 1.25rem;
    overflow: hidden;
}

nav a, nav a:visited, nav a:hover, nav a:active {
    text-decoration: none;
    color: black;
}

.title-list li, h2 {
    font-size: 1.5rem;
}

@media (max-width: 700px) {
    html {
        font-size: 14px;
    }

    body {
        width: 95vw;
    }

    img {
        width: 310px;
        height: auto;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2, .title-list li {
        font-size: 1.25rem;
    }

    p, .title-list li p {
        font-size: 1rem;
    }

    .nav-item {
        font-size: 1.125rem;
        margin-right: 20px;
    }
}